.Pagination {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn,
  &__currentPage {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
  }

  &__currentPage {
    color: var(--color-white);
    opacity: 0.5;
  }

  &__prev {
    transform: rotate(180deg);
  }
}
